<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Your page title</title>
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}{% endblock %}

        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Events</span>
          </div>
        </nav>

        <div class="container text-center">
          <div class="row">
            <div class="col-6 col-sm-4">Event Example 1</div>
            <div class="col-6 col-sm-4">Event Example 2</div>
            <div class="col-6 col-sm-4">Event Example 3</div>
            <div class="col-6 col-sm-4">Event Example 4</div>
            <div class="col-6 col-sm-4">Event Example 5</div>
            <div class="col-6 col-sm-4">Event Example 6</div>
            <div class="col-6 col-sm-4">Event Example 7</div>
            <div class="col-6 col-sm-4">Event Example 8</div>
          </div>
        </div>

        <button type="button" class="btn btn-primary">Create Event</button>

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>
